
/* firefox 91+ */
/* userchrome.css or tabsbar.css */
/* problem: using custom CSS theme such as Firefox Adwaita or WhiteSur put a circle in the tab if the tab opened in a container */
/* solution: */
/* create border that colored with container identifier */
.tabbrowser-tab[class*="identity-color-"] {
	border-bottom: 3px solid var(--identity-icon-color) !important;
}

/* Create new container tab indicator */
.tabbrowser-tab[class*="identity-color-"] .tab-content::before {
	content: "";
	display: block;
	background-image: var(#userContext-icons:--identity-icon);
	background: transparent;  /* modified to transparent to remove the weird circle near icon */
	-moz-context-properties: fill;
	fill: var(--identity-icon-color);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	min-width: 10px;
	height: 10px;
	margin-right: 5px;
	margin-left: auto !important;
	border-radius: 100%;
}

/* tab bar auto hide */
@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml) {
  
  /* ignore events (side effect: headerbar cannot be clicked i.e. to open context menu) */
  #navigator-toolbox {
  	pointer-events: none;
  }
  
  /* except: */
  #navigator-toolbox toolbarbutton,
  #navigator-toolbox toolbaritem,
  #titlebar {
  	pointer-events: auto;
  }

  /* show tabs toolbar when navigator-toolbox gets hovered */
  #main-window:not([customizing]) #navigator-toolbox:hover #TabsToolbar {
	  visibility: visible !important;
	  opacity: 1 !important;
	  margin-bottom: 0px;
	  transition: visibility 0.1s linear, opacity 0.1s linear, margin-bottom 0.1s linear;
  }
  /* hide tabs toolbar when unfocused */
  #main-window:not([customizing]) #TabsToolbar:not(:hover) {
	  visibility: collapse !important;
	  opacity: 0 !important;
	  margin-bottom: -40px;
	  transition: visibility 0.1s linear, opacity 0.1s linear, margin-bottom 0.1s linear;
  }
}
